html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#banner {
    background-color: #515151;
    color: white;
    padding: 10px;
    text-align: center;
}

#banner h1 {
    margin: 0; /* Remove default margin */
    font-size: 1.5em; /* Make the text larger */
    color: 
    hsl(0, 0%, 100%);
}
#map {
    padding: 0;
    margin: 0;
    height: calc(100vh - 47.2px);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
}

#toggleButton{
    position: absolute; 
    top: 5px; 
    right: 5px; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    border: 0px solid black; 
    background-color: transparent;
}

.leaflet-bar a {
    cursor: pointer;
}

#buttons {
    position: absolute;
    top: 270px;
    left: 5px;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
}
#buttons button {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 16px;
}

#buttons #downloadButton {
    background-color: #ffb700; /* Red */
}

#popup {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#popup h3 {
    margin-top: 0;
}
#popup button {
    margin-top: 20px;
    padding: 5px 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}    


.custom-search-control {
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Border radius */
    padding: 5px; /* Padding */
}

.custom-search-control input[type="text"] {
    width: 200px; /* Adjust the width as needed */
    padding: 5px; /* Padding */
    border-radius: 3px; /* Border radius */
    border: 1px solid #ccc; /* Border */
}

.custom-search-control button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 3px; /* Border radius */
    padding: 5px 10px; /* Padding */
    cursor: pointer; /* Cursor style */
}

.custom-search-control button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

