html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}


#viewer-map {
  height: calc(100vh - 47.2px);
  width: 100%;
}


#jsonFileInputContainer {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 10px;
}


/* popup */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  min-width: 280px;
  display: none;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-content {
  font-size: 12px;
  line-height: 1.5;
}