html,
body {
  margin: 0;
  height: 100%;
}

#viewer-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  /* Add this to your viewerStyles.css */
#jsonFileInputContainer {
    position: absolute; /* or 'fixed' */
    z-index: 1000; /* Ensure this is higher than the map's z-index */
    top: 75px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}